@import 'buttons.css';
@import 'menus.css';
@import 'forms.css';
@import 'paginador.css';
@import 'archivos.css';
@import '../../lightbox.css';

/* CSS Document */
body{
	color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #666666;
	background-image: url(../../../img/body_bg.gif);
	margin: 0px;
	margin-top: 10px;
}
/* Style link */
a{
	text-decoration:underline;
	color: #746601;
}
a:hover{
	color: #5D5A55;
}
h1, h2, h3, h4, h5, h6{
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
	display:none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	display:block;
	width: 100%;
	height: 100%;
}
hr {
	display: none;
}
input, select, textarea{
	font-size: 11px;
	color: #666666;
	border: 1px solid #C6C6C6;
}
form, fieldset, label, input, select, textarea{
	margin: 0px;
	padding: 0px;
}
fieldset{
	border: none;
}
form br{
	clear: both;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	height: 0px;
	font-size: 0px;
}
ul li {
	margin-bottom: 0.4em;
}
p {
	line-height: 1.5em;
	margin: 0.7em 0px;
}

div.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.flotar-izq{
	float:left;
}
.flotar-der{
	float:right;
}


/* Contiene el ancho de la página */
#pgWrapper {
	background-color: #FFFFFF;
	width: 900px;
	padding: 0px;
	margin: 0px auto 0px auto;
}


/**
* Bloque Encabezado
*/
#hdMain {
	width: 100%;
	background-color: #666666;
}


/**
* Menú TOP
* - Lista de sitios TuSecreto
*/
#mnuTop{
	background: url(../../../../../img/admin/top.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	height: 100px;
}
	#mnuTop h2{
		display: none;
		float:left;
		padding-left: 50px;
	}
	#mnuTop ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		float: right;
		height: 20px;
		padding: 9px 0px 5px 0px;
	}
		#mnuTop ul li {
			float: left;
			padding: 0px 10px 0px 5px;
			margin: 0px;
			border-left: 1px solid #CCCCCC;
			color: #FFF;
		}
			#mnuTop li a {
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #FFF;
				font-weight: bold;
				text-decoration: none;
			}
				#mnuTop li a:hover {
					color: #999;
					text-decoration: none;
				}


/********** Grid ************/
#cntPage .cntItem{
	margin-top: 10px;
	margin-bottom: 20px;
}

#cntPage .cntItem strong{
	font-size:11px;
}

	#cntPage .cntItem table{
		font-family: Arial, sans-serif;
		font-size: 10px;
		width: 100%;
		cursor: pointer;
		margin-top: 2px;
	}
	#cntPage .cntItem table th{
		text-align: left;
		padding: 4px 0 4px 9px;
		background: #666;
		border-bottom: 1px solid #444;
		border-top: 1px solid #444;
		border-left: 1px solid #555;
		color: #FFF;
		cursor: pointer;
	}
	#cntPage .cntItem table tr td { background-color:#EFEFEF; padding: 3px; border-left: 1px solid #D9D9D9; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; }
	#cntPage .cntItem table tr td.hover { background-color:#F8F8F8; }

.ajax-load{
	text-align: center;
	background-image: url(../../../img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 60px;
}


/* Mensajes/Alertas */

#cntBoxMensage {
	display: block;
	margin-top: 5px;
	width: 100%;
}
	#cntBoxMensage #cntMensagePage {
		height: 50px;
		border: 1px dotted #7D7D7F;
		padding-left: 20px;
		padding-top: 4px;
		padding-bottom: 1px;
		padding-right: 20px;
		height:20px;
	}
	#cntBoxMensage #cntMensagePage a{
		vertical-align: bottom;
		font-size: 10px;
		color: #666666;
	}
	#cntBoxMensage #cntMensagePage.ok{
		background-color: #ACE991;
		border:1px dotted #275812;
		color:#275812;
	}
	#cntBoxMensage #cntMensagePage.error{
		background-color: #EEA8A8;
		border:1px dotted #AC2222;
		color:#AC2222;
	}
	#cntBoxMensage #cntMensagePage.warning{
		background-color: #FFCC66;
	}







/* Cuerpo principal */

#cntMain {
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 5px;
}


#cntMain h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #434343;
	border-bottom: 1px solid #621A1A;
	margin: 0px;
	padding: 0px;
}
#cntMain h2 a.volver { float: right; font-size: 11px; width: 70px; margin-top: 5px;}



/********************** FOOTER **********************/

#ftMain {
	background-color: #333333;
	padding: 10px 10px 10px 10px;
	color: #FFFFFF;
}
#ftMain .cnt {
	float: left;
	width: 500px;
}
#ftMain h3 a {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 32px;
	width: 130px;
}
#ftMain h3 {
	background-image: url(../../../img/logo4r.png);
	background-repeat:no-repeat;
	float: right;
	margin: 0px;
	width:50px;
}

#ftMain .cnt h4 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
}
#ftMain .cnt p {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
}
#ftMain .cnt a {
	color: #E8A578;
}
#ftMain .cnt a:hover {
	color: #E8A578;
}





/********************** Filtros **********************/
.buttonCaption {
	float: right;
	width: 150px;
	height: 17px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 4px;
	background-color: #E2E7F1;
	border-top: solid 1px #999999;
	border-right: solid 1px #999999;
/*	border-left: solid 1px #999999;*/
	color: #000000;
}
.cntFiltro {
	padding: 10px 10px 10px 10px;
	margin-top: 1px;
	border-width: 1px;
	border-color: #999999;
	border-style: solid;
	background-color: #E2E7F1;
}
.buttonCaption a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.buttonCaption a:hover
{
	color: #666666;
}

form.frmFiltro fieldset.fsSubmit button{
	float: right;
	margin: 0px;
	padding: 0px;
	padding-left: 3px;
	height: 20px;
}

.cntFiltro fieldset.cntGroup
{
	margin-top: 5px;
	margin-bottom: 7px;
	border: solid 1px #333333;
	padding: 10px;
	display: block;
	width: 90%;
	clear: both;
}
.cntFiltro fieldset.cntGroup select.maxAncho
{
	width: 250px;
}


/************ Filtros *************/
.cntFiltroLetras
{
	margin-bottom: 10px;
	margin-top: 15px;
}

.filtroLetra {
	float: left;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	color: #F8F8F8;
	font-weight: bold;
	font-size: 12px;
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	background-color: #000000;
}
.active{
	background-color: #F8F8F8;
	color: #000000;
}
.filtroLetra:hover {
	background-color: #595856;
	color: #F8F8F8;
}

#cntFiltroLetras {
	clear: both;
	padding-left: 10%;
	text-align: center;
}





/********* ToolTip **********/
#cntToolTip {
	width: auto;
	background-color: #333333;
	color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	position: absolute;
	padding: 8px;
}

/********* ToolTip **********/
.descToolTip {
	width: 250px;
	background-color: #333333;
	color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	position: absolute;
	padding: 8px;
}


.preview-edit{
	padding-left:44px; 
	padding-bottom:6px;
}

#btnMasivo{
	margin-right:25px;
	margin-top:10px;
	float:right;
}

div.loading{
	background:red none repeat scroll 0% 0%;
	color:white;
	display:none;
	font-weight:bold;
	padding:3px 7px;
	margin-top: 2px;
	position:absolute;
	text-align:center;
}
tbody.loading{
	background-color:white;
	opacity:0.5;
}

div.confirmFile{
	color:white;
	display:none;
	font-weight:bold;
	padding:3px 7px;
	position:absolute;
	text-align:left;
	opacity: 0.8;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
div.confirmFile.error{
	background:red none repeat scroll 0% 0%;
}
div.confirmFile.ok{
	background:green none repeat scroll 0% 0%;
}
.agregar_imagen { /* width: 87px; height: 65px; */ margin: 5px 15px 0px 50px; float: left;}
